* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 20rem;
  height: 35rem;
  border: 1.5px solid #999999;
  border-radius: 1rem;
  background-color: #f0f0f0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
}

.calcScreen {
  width: 18rem;
  height: 5rem;
  border: 1px solid #999999;
  margin-top: 2rem;
  background-color: white;
  border-radius: 0.5rem;
}
